#Search {
    height : 50px;
    width: 350px;
    border : 2px solid #F3F3F3;
    border-radius : 20px;
    padding-left: 10px;
    background-color: #F3F3F3;
    
}
#Search::placeholder {
    padding-left: 20px;
    font-size: 18px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

#Search-btn{
     height : 60px;
    width: 300px;
    border : 2px solid #F3F3F3;
    border-radius : 20px;
    padding-left: 10px;
    margin-left: 297px;
    background-color: #F3F3F3;
}

#Search-btn::placeholder {
    padding-left: 60px;
    font-size: 18px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.location {
    position: absolute;
    margin-left : 310px;
    top : 340px;
    height: 24px;
    width: 24px;
    padding : 4px 0px 0px 10px;
}

#Searchres{
     height : 60px;
    width: 500px;
    border : 2px solid #F3F3F3;
    border-radius : 20px;
    padding-left: 10px;
    margin-left: 20px;
    background-color: #F3F3F3;
}

#Searchres::placeholder {
    padding-left: 10px;
    font-size: 20px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.lens {
    height : 30px;
    width : 30px;
    position: absolute;
    right : 400px;
    top : 340px;
}