<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>
        This is the example of ejs
    </p>
    <h2> <%= 1 + 2 %> </h2>
    <h3> <%= "Kushal Mahawar".toUpperCase() %></h3>
    <h4> <%= ["Hello", "bonjour" , "namste!"][0] %></h4>
    <button>demo</button>
    
</body>
</html>