.text {
    text-align: center;
    margin-top : 100px;
}

.text h1 {
    font-size: 48px;
    font-weight: 600;
    color : rgb(255, 255, 255);
    line-height: 56px;
    font-family:sans-serif;
    
}
.left-img {
  position: absolute;
  top: 89px;
  left: 0;
  height: 550px;
  z-index: 0;
}

.right-img {
  position: absolute;
  top: 89px;
  right : 0;
  height: 550px;
  z-index: 0;
}